/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
    /* debug */
    border: 3px solid black;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* regole header */
header{
    /* debug */
    min-height: 500px;
    background-color: cornflowerblue;
}

nav{
    padding: 10px 0;
}

nav div{
    /* debug */
    background-color: coral;
}

.top-header{
    display: flex;
    justify-content: space-between;
    /* debug */
    border: 1px solid black;
}

.flex-nav{
    display: flex;
    justify-content: space-around;
}

.flex-nav li{
    padding: 0 5px;
}

.sub-header{
    width: 60%;
    margin: 100px auto;
    /* debug */
    background-color: coral;
}

.sub-header{
    text-align: center;
}

/* regole sections */

section{
    /* debug */
    min-height: 400px;
    
}

.white-bg, .reverse{
    display: flex;
    justify-content: flex-end;
}

.white-bg, .reverse, .last-section{
    /* debug */
    margin: 30px 0;
}

.img-section, .text-section{
    /* debug */
    height: 350px;
    width: 40%;
    background-color: coral;
    border: 1px solid black;
}

.text-section{
    margin-left: 50px;
}

.gray-bg{
    background-color: rgb(224, 223, 223);
}

.last-section{
    text-align: center;
}

.last-section img{
    margin: 30px 0;
    /* debug */
    width: 600px;
    height: 400px;
    background-color: coral ;
}

/* regole footer */
footer{
    background-color: black;
    /* debug */
    min-height: 400px;
}

.flex-footer{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid blue;
    padding: 30px 0;
}

.flex-footer div{
    /* debug */
    min-height: 300px;
    background-color: coral;
}

.sub-footer{
    display: flex;
    justify-content: space-between;
    /* debug */
    padding: 20px 0 50px 0;
    color: white;
}