*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole generali */

/* regole header */
header{
    /* debug */
    height: 550px;
    background-color: cornflowerblue;
}

#top-header li, .logo, #top-header button{
    /* debug */
    background-color: white;
}

#top-header{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    /* debug */
    background-color: rgb(221, 67, 98);
}

#barra-nav{
    display: flex;
}

#barra-nav li{
    min-width: 40%;
    justify-content: space-between;
}

.subheader{
    width: 50%;
    margin: 40px auto;
    /* debug */
    background-color: rgb(221, 67, 98);
    height: 350px;
}

/* regole main */

/* regole sezioni sfondo bianco */

/* debug */
section{
    border: 1px solid black;
    height: 550px;
}

.white, .grey{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 90px auto;  
} 

.white{
    /* debug */
    background-color: blue;
}

.img-sfondo-bianco, .descrizione-sect{
    /* debug */
    background-color: rgb(221, 67, 98);
    height: 300px;
    border: 1px solid black;
    width: 40%;
}

.grey .img-sfondo-bianco{
    order: 1;
}