*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole generali */

/* regole header */
header{
    /* debug */
    height: 550px;
    background-color: cornflowerblue;
}

#top-header li, .logo, #top-header button{
    /* debug */
    background-color: white;
}

#top-header{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    /* debug */
    background-color: rgb(221, 67, 98);
}

#barra-nav{
    display: flex;
}

#barra-nav li{
    min-width: 40%;
    justify-content: space-between;
}

.subheader{
    width: 50%;
    margin: 40px auto;
    /* debug */
    background-color: rgb(221, 67, 98);
    height: 350px;
}

/* regole main */

/* regole sezioni sfondo bianco */


section{
    
    /* debug */
    border: 1px solid black;
    height: 600px;
    background-color: rgba(198, 107, 74, 0.518);
} 

.white, .grey{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    width: 70%;
    margin: 90px auto;
} 

.img-sfondo-bianco, .descrizione-sect{
    width: 45%;
    /* debug */
    background-color: rgb(221, 67, 98);
    height: 300px;
    border: 1px solid black;
    width: 40%;
}

.grey .img-sfondo-bianco{
    order: 1;
}

.no-flex{
    width: 70%;
    margin: 90px auto;
    margin-bottom: 20px;
    /* debug */
    height: 500px;
}

.desc-section4{
    background-color: darkolivegreen;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 20px;
    /* debug */
    height: 100px;
}
.img-noflex{
    height: 300px;
    background-color: darkolivegreen;
    /* debug */
    border: 1px solid black;
}

