*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole generali */

/* regole header */
header{
    height: 550px;
    /* debug */
    height: 550px;
    background-color: cornflowerblue;
}

#top-header li, .logo, #top-header button{
    /* debug */
    background-color: white;
}

#top-header{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    /* debug */
    background-color: rgb(221, 67, 98);
}

#barra-nav{
    display: flex;
}

#barra-nav li{
    padding: 0 20px;
}

.subheader{
    width: 50%;
    margin: 40px auto;
    /* debug */
    background-color: rgb(221, 67, 98);
    height: 350px;
}

/* regole main */

/* regole sezioni sfondo bianco */


section{
    
    /* debug */
    border: 1px solid black;
    /* height: 700px; */
    background-color: rgba(198, 107, 74, 0.518);
} 

.white, .grey{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    width: 70%;
    margin: 90px auto;
} 

.img-sfondo-bianco, .descrizione-sect{
    width: 45%;
    /* debug */
    background-color: rgb(221, 67, 98);
    height: 300px;
    border: 1px solid black;
    width: 40%;
}

.grey .img-sfondo-bianco{
    order: 1;
}

.no-flex{
    width: 70%;
    margin: 90px auto;
    margin-bottom: 20px;
    /* debug */
    height: 550px;
}

.desc-section4, .subsection{
    background-color: darkolivegreen;
    border: 1px solid black;
    text-align: center;
    /* debug */
    height: 100px;
}

.img-noflex{
    height: 300px;
    background-color: darkolivegreen;
    margin: 20px 0 40px 0;
    /* debug */
    border: 1px solid black;
}

/* regole footer */
footer{
    background-color: rgba(0, 0, 0, 0.934);
    height: 400px;
    margin-top: 50px;
}

footer .col-area{
    width: 80%;
    margin: 0 auto;
    /* debug */
}

footer .col-area{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

footer .col{
    margin: 20px 0;
    /* debug */
    width: 200px;
    background-color: rgb(221, 67, 98);
    height: 200px;
    background-color: 1px solid black;
}

.subfooter{
    display: flex;
    justify-content: space-between;
}

footer .logo, footer button{
    margin-top: 20px;
    /* debug */
    width: 90px;
    height: 30px;
    background-color: rgb(221, 67, 98);
}

.subfooter{
    width: 80%;
    margin: 0 auto;
}